{% extends 'main.html' %}

{% block content %}


    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <h3>איפוס הסיסמא נשלח לתיבת המייל שלך.</h3>

                <p>שלחנו אליך הוראות לשינוי סיסמתך. זה יכול לקחת כמה זמן.</p>
                <p>אם לא קיבלתם הודעה, נא בדקו שהכנסתם את כתובת האימייל הנכון אליו אתם רשומים למערכת שלנו.</p>
                <p>ייתכן והמייל נמצא בתיבת הספאם של הדואר האלקטרוני שלך.</p>
            </div>
        </div>
    </main>

{% endblock content %}